
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <!-- Main content -->
        <div class="col-md-8">
            <h1 class="my-4">
                @User.Identity.Name Xos geldin
               
            </h1>
           
            <div class="card mb-4">

                <div class="card-body">
                    <h2 class="card-title">Post</h2>                   
                </div>

            </div>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Menyu</h5>
                <div class="card-body">
                    <div class="row">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a asp-action="GameRoom">Oyun Otagi</a>
                            </li>
                            <li>
                                <a href="#">Mesajlar</a>
                            </li>
                            <li>
                                <a href="#">
                                    Bildirisler
                                    <span style="display:none" class="badge badge-primary float-right"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Profil</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

           


            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Sexsi melumatlar</h5>
                <div class="card-body">
                    @User.Identity.Name xos gelmisiniz.Profil melumatlarinizi gormek ve ve ya yenilemek ucun <a href="#">profil</a> melumatlarina kecid edin
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>

